<header>
  <a href="/"><%= site.title %></a>
  <nav>
    <a href="/index.html">Home</a>
    <a href="/contact.html">Contact</a>
    <a href="/sample-page.html">Sample page</a>
    <a href="/404.html">404</a>
  </nav>
  <script async src="https://cdn.snipcart.com/themes/v3.1.1/default/snipcart.js"></script>
  <div id="snipcart" data-config-modal-style="side" data-api-key="YOUR_PUBLIC_TEST_API_KEY" hidden></div>
</header>
